[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kdevphpdocs_config
X-KDE-FactoryName=kdevphpdocs_config
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=DOCUMENTATION
Name=PHP Documentation
Name[ca]=Documentació de PHP
Name[ca@valencia]=Documentació de PHP
Name[cs]=Dokumentace PHP
Name[da]=PHP-dokumentation
Name[de]=PHP-Dokumentation
Name[en_GB]=PHP Documentation
Name[es]=Documentación de PHP
Name[et]=PHP dokumentatsioon
Name[fr]=Documentation de PHP
Name[it]=Documentazione PHP
Name[ja]=PHP ドキュメント
Name[ms]=Dokumentasi PHP
Name[nb]=PHP-dokumentasjon
Name[nds]=PHP-Dokmentatschoon
Name[nl]=PHP-documentatie
Name[pt]=Documentação de PHP
Name[pt_BR]=Documentação de PHP
Name[sv]=PHP-dokumentation
Name[uk]=Документація з PHP
Name[x-test]=xxPHP Documentationxx
Name[zh_TW]=PHP 文件
