[Desktop Entry]
Type=Service
Comment=This plugin integrates PHP.net online documentation.
Comment[cs]=Tento modul integruje online dokumentaci PHP.net.
Comment[da]=Dette plugin integrerer online dokumentation fra PHP.net.
Comment[de]=Dieses Modul integriert die PHP.net-Online-Dokumentation.
Comment[en_GB]=This plugin integrates PHP.net online documentation.
Comment[es]=Este complemento integra la documentación en línea de PHP.net.
Comment[et]=See plugin lõimib PHP veebidokumentatsiooni.
Comment[fr]=Ce module externe intègre la documentation en ligne PHP.net.
Comment[it]=Questa estensione integra la documentazione online PHP.net
Comment[ja]=このプラグインは、PHP.net のオンラインドキュメントを統合します。
Comment[ms]=Plugin ini mengintegrasikan dokumentasi dalam talian PHP.net
Comment[nb]=Dette programtillegget integrerer dokumentasjon på nettverket for PHP.net
Comment[nds]=Dit Moduul bett de Online-Dokmentatschoon vun PHP.net in.
Comment[nl]=Deze plugin integreert PHP.net online-documentatie.
Comment[pt]=Este 'plugin' integra a documentação 'online' do PHP.net.
Comment[pt_BR]=Este plug-in integra a documentação on-line do PHP.net.
Comment[ru]=Расширение для работы с документацией с сайта PHP.net
Comment[sv]=Insticksprogrammet integrerar PHP.net nätdokumentation.
Comment[tr]=Bu eklenti, PHP çevrimiçi belgelendirmesini entegre eder.
Comment[uk]=За допомогою цього додатка можна інтегрувати документацію PHP.net.
Comment[x-test]=xxThis plugin integrates PHP.net online documentation.xx
Comment[zh_CN]=此插件集成了 PHP.net 的在线文档。
Comment[zh_TW]=此外掛程式整合 PHP.net 線上文件。
Name=PHP Documentation
Name[cs]=Dokumentace PHP
Name[da]=PHP-dokumentation
Name[de]=PHP-Dokumentation
Name[en_GB]=PHP Documentation
Name[es]=Documentación de PHP
Name[et]=PHP dokumentatsioon
Name[fr]=Documentation de PHP
Name[it]=Documentazione PHP
Name[ja]=PHP ドキュメント
Name[ms]=Dokumentasi PHP
Name[nb]=PHP-dokumentasjon
Name[nds]=PHP-Dokmentatschoon
Name[nl]=PHP-documentatie
Name[pt]=Documentação de PHP
Name[pt_BR]=Documentação de PHP
Name[ru]=Документация по PHP
Name[sv]=PHP-dokumentation
Name[tr]=PHP Belgelendirmesi
Name[uk]=Документація з PHP
Name[x-test]=xxPHP Documentationxx
Name[zh_CN]=PHP 文档
Name[zh_TW]=PHP 文件
ServiceTypes=KDevelop/Plugin

X-KDE-Library=kdevphpdocs
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevphpdocs
X-KDE-PluginInfo-Author=Milian Wolff
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Documentation
X-KDevelop-Mode=GUI
X-KDevelop-Interfaces=org.kdevelop.IDocumentationProvider
