[Desktop Entry]
Type=Service
Comment=This plugin integrates PHP.net online documentation.
Comment[x-test]=xxThis plugin integrates PHP.net online documentation.xx
Name=KDevPhpDocs
Name[x-test]=xxKDevPhpDocsxx
GenericName=PHP Documentation
GenericName[x-test]=xxPHP Documentationxx
ServiceTypes=KDevelop/Plugin

X-KDE-Library=kdevphpdocs
X-KDevelop-Version=9
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=KDevPhpDocs
X-KDE-PluginInfo-Author=Milian Wolff
X-KDE-PluginInfo-License=GPL
X-KDevelop-Mode=GUI
X-KDevelop-Interfaces=org.kdevelop.IDocumentationProvider
