[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Php Language Support
Comment[x-test]=xxPhp Language Supportxx
Name=KDevPhpSupport
Name[x-test]=xxKDevPhpSupportxx
GenericName=Php Support
GenericName[x-test]=xxPhp Supportxx
ServiceTypes=KDevelop/Plugin
Icon=application-x-php
X-KDE-Library=kdevphplanguagesupport
X-KDevelop-Version=9
X-KDevelop-Language=Php
X-KDevelop-Args=PHP
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=application/x-php,application/x-gzip
X-KDE-PluginInfo-Name=KDevPhpSupport
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
