[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Php Language Support
Comment[x-test]=xxPhp Language Supportxx
Name=KDevPhpSupport
GenericName=Php Support
GenericName[ca]=Suport per a Php
GenericName[da]=Php-understøttelse
GenericName[de]=Unterstützung für Php
GenericName[el]=Υποστήριξη Php
GenericName[es]=Soporte para Php
GenericName[et]=Php toetus
GenericName[eu]=Php euskarria
GenericName[fr]=Langage Php
GenericName[ga]=Tacaíocht Php
GenericName[hu]=Php-támogatás
GenericName[it]=Supporto a Php
GenericName[ja]=Php サポート
GenericName[nb]=Php-støtte
GenericName[nds]=Ünnerstütten för Php
GenericName[nl]=Ondersteuning voor Php
GenericName[pl]=Obsługa: Php
GenericName[pt]=Suporte a Php
GenericName[pt_BR]=Suporte ao Php
GenericName[ru]=Поддержка языка Php
GenericName[sl]=Podpora za Php
GenericName[sr]=Подршка за Php
GenericName[sr@Latn]=Podrška za Php
GenericName[sv]=Php-stöd
GenericName[tg]=Ёрӣ намудани забони Php
GenericName[tr]=Php Desteği
GenericName[x-test]=xxPhp Supportxx
GenericName[zh_TW]=Php 支援
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevphplanguagesupport
X-KDevelop-Version=6
X-KDevelop-Language=Php
X-KDevelop-Args=PHP
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=application/x-php
X-KDE-PluginInfo-Name=KDevPhpSupport
