[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kdevphpdocs_config
X-KDE-FactoryName=kdevphpdocs_config
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=DOCUMENTATION
Name=PHP Documentation
Name[es]=Documentación de PHP
Name[nds]=PHP-Dokmentatschoon
Name[pt]=Documentação de PHP
Name[sv]=PHP-dokumentation
Name[uk]=Документація з PHP
Name[x-test]=xxPHP Documentationxx
