[Desktop Entry]
Type=Service
Comment=This plugin integrates PHP.net online documentation.
Comment[es]=Este complemento integra la documentación en línea de PHP.net.
Comment[et]=See plugin lõimib PHP veebidokumentatsiooni.
Comment[fr]=Ce module externe intègre la documentation en ligne PHP.net.
Comment[it]=Questa estensione integra la documentazione online PHP.net
Comment[nds]=Dit Moduul bett de Online-Dokmentatschoon vun PHP.net in.
Comment[nl]=Deze plugin integreert PHP.net online-documentatie.
Comment[pt]=Este 'plugin' integra a documentação 'online' do PHP.net.
Comment[pt_BR]=Este plug-in integra a documentação on-line do PHP.net.
Comment[sv]=Insticksprogrammet integrerar PHP.net nätdokumentation.
Comment[uk]=За допомогою цього додатка можна інтегрувати документацію PHP.net.
Comment[x-test]=xxThis plugin integrates PHP.net online documentation.xx
Name=KDevPhpDocs
Name[es]=KDevPhpDocs
Name[et]=KDevPhpDocs
Name[fr]=KDevPhpDocs
Name[it]=KDevPhpDocs
Name[nds]=PHP-Dokmentatschoon för KDevelop
Name[nl]=KDevPhpDocs
Name[pt]=KDevPhpDocs
Name[pt_BR]=KDevPhpDocs
Name[sv]=KDevelop PHP-dokument
Name[uk]=KDevPhpDocs
Name[x-test]=xxKDevPhpDocsxx
GenericName=PHP Documentation
GenericName[cs]=Dokumentace PHP
GenericName[es]=Documentación de PHP
GenericName[et]=PHP dokumentatsioon
GenericName[fr]=Documentation de PHP
GenericName[it]=Documentazione PHP
GenericName[nds]=PHP-Dokmentatschoon
GenericName[nl]=PHP-documentatie
GenericName[pt]=Documentação de PHP
GenericName[pt_BR]=Documentação de PHP
GenericName[sv]=PHP-dokumentation
GenericName[uk]=Документація з PHP
GenericName[x-test]=xxPHP Documentationxx
ServiceTypes=KDevelop/Plugin

X-KDE-Library=kdevphpdocs
X-KDevelop-Version=9
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=KDevPhpDocs
X-KDE-PluginInfo-Author=Milian Wolff
X-KDE-PluginInfo-License=GPL
X-KDevelop-Mode=GUI
X-KDevelop-Interfaces=org.kdevelop.IDocumentationProvider
