[Desktop Entry]
Icon=application-x-php
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kdevphpdocs_config
X-KDE-FactoryName=kdevphpdocs_config
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform,kdevphpdocs
X-KDE-CfgDlgHierarchy=DOCUMENTATION
X-KDE-Weight=150
Name=PHP Documentation
Name[bs]=PHP Dokumentacija
Name[ca]=Documentació de PHP
Name[ca@valencia]=Documentació de PHP
Name[cs]=Dokumentace PHP
Name[da]=PHP-dokumentation
Name[de]=PHP-Dokumentation
Name[el]=Τεκμηρίωση για PHP
Name[en_GB]=PHP Documentation
Name[es]=Documentación de PHP
Name[et]=PHP dokumentatsioon
Name[fi]=PHP-dokumentaatio
Name[fr]=Documentation de PHP
Name[ga]=Doiciméadú PHP
Name[gl]=Documentación de PHP
Name[hu]=PHP dokumentáció
Name[it]=Documentazione PHP
Name[ja]=PHP ドキュメント
Name[lt]=PHP dokumentacija
Name[ms]=Dokumentasi PHP
Name[nb]=PHP-dokumentasjon
Name[nds]=PHP-Dokmentatschoon
Name[nl]=PHP-documentatie
Name[pl]=Dokumentacja PHP
Name[pt]=Documentação de PHP
Name[pt_BR]=Documentação de PHP
Name[ru]=Документация по PHP
Name[sk]=Dokumentácia PHP
Name[sv]=PHP-dokumentation
Name[tr]=PHP Belgelendirmesi
Name[ug]=PHP پۈتۈكلىرى
Name[uk]=Документація з PHP
Name[x-test]=xxPHP Documentationxx
Name[zh_CN]=PHP 文档
Name[zh_TW]=PHP 文件
