[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Php Language Support
Comment[bs]=Podrška za PHP jezik
Comment[cs]=Podpora jazyka PHP
Comment[da]=Understøttelse af sproget PHP
Comment[de]=Sprachunterstützung für PHP
Comment[el]=Υποστήριξη γλώσσας Php
Comment[en_GB]=Php Language Support
Comment[es]=Implementación de lenguaje PHP
Comment[et]=PHP keele toetus
Comment[fi]=PHP-kielituki
Comment[fr]=Prise en charge du langage PHP
Comment[ga]=Tacaíocht PHP
Comment[hu]=PHP nyelvi támogatás
Comment[it]=Supporto al linguaggio PHP
Comment[ja]=PHP 言語サポート
Comment[nb]=PHP språkstøtte
Comment[nds]=Ünnerstütten för PHP
Comment[nl]=Ondersteuning voor PHP-taal
Comment[pl]=Obsługa języka PHP
Comment[pt]=Suporte à Linguagem PHP
Comment[pt_BR]=Suporte à linguagem PHP
Comment[ru]=Поддержка языка PHP
Comment[sv]=Stöd för språket PHP
Comment[th]=การสนับสนุนภาษา Php
Comment[tr]=PHP Dili Desteği
Comment[ug]=Php تىلىنى قوللاش
Comment[uk]=Підтримка мови PHP
Comment[x-test]=xxPhp Language Supportxx
Comment[zh_CN]=Php 语言支持
Comment[zh_TW]=PHP 語言支援
Name=PHP Language Support
Name[bs]=Podrška za PHP jezik
Name[cs]=Podpora jazyka PHP
Name[da]=Understøttelse af sproget PHP
Name[de]=Sprachunterstützung für PHP
Name[el]=Υποστήριξη γλώσσας PHP
Name[en_GB]=PHP Language Support
Name[es]=Implementación de lenguaje PHP
Name[et]=PHP keele toetus
Name[fi]=PHP-kielituki
Name[fr]=Prise en charge du langage PHP
Name[ga]=Tacaíocht PHP
Name[hu]=PHP nyelvi támogatás
Name[it]=Supporto al linguaggio PHP
Name[nb]=PHP språkstøtte
Name[nds]=Ünnerstütten för PHP
Name[nl]=Ondersteuning voor PHP-taal
Name[pl]=Obsługa języka PHP
Name[pt]=Suporte à Linguagem PHP
Name[pt_BR]=Suporte à linguagem PHP
Name[ru]=Поддержка языка PHP
Name[sv]=Stöd för språket PHP
Name[tr]=PHP Dili Desteği
Name[ug]=PHP تىلىنى قوللاش
Name[uk]=Підтримка мови PHP
Name[x-test]=xxPHP Language Supportxx
Name[zh_CN]=Php 语言支持
Name[zh_TW]=PHP 語言支援
ServiceTypes=KDevelop/Plugin
Icon=application-x-php
X-KDE-Library=kdevphplanguagesupport
X-KDevelop-Version=14
X-KDevelop-Language=Php
X-KDevelop-Args=PHP
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=application/x-php
X-KDE-PluginInfo-Name=KDevPhpSupport
X-KDE-PluginInfo-Category=Language Support
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
