[Desktop Entry]
Type=Service
Exec=blubb
Comment=Finds and runs PHPUnit tests.
Comment[es]=Encuentra y ejecuta pruebas PHPUnit.
Comment[fi]=Etsii ja suorittaa PHPUnit-testejä
Comment[ga]=Aimsigh agus rith tástálacha PHPUnit.
Comment[gl]=Atopa e executa probas de PHPUnit.
Comment[hu]=Megkeresi és lefuttatja a PHPUnit teszteket.
Comment[lt]=Randa ir vykdo PHPUnit testus.
Comment[nb]=Finner og kjører PHPUnit-tester.
Comment[nl]=Testen van PHPUnit vinden en uitvoeren.
Comment[pt]=Procura e executa os testes do PHPUnit.
Comment[pt_BR]=Procura e executa os testes do PHPUnit.
Comment[sv]=Söker efter och kör PHPUnit-tester.
Comment[uk]=Пошук і запуск перевірок PHPUnit.
Comment[x-test]=xxFinds and runs PHPUnit tests.xx
Name=PHPUnit Integration
Name[es]=Integración de PHPUnit
Name[fi]=PHPUnit-integraatio
Name[ga]=Comhtháthú PHPUnit
Name[gl]=Integración con PHPUnit
Name[hu]=PHPUnit integráció
Name[lt]=PHPUnit integracija
Name[nb]=PHPUnit-integrering
Name[nl]=Integratie van PHPUnit
Name[pt]=Integração com o PHPUnit
Name[pt_BR]=Integração com o PHPUnit
Name[sv]=Integrering av PHPUnit
Name[uk]=Інтеграція PHPUnit
Name[x-test]=xxPHPUnit Integrationxx
GenericName=PHPUnit Integration
GenericName[es]=Integración de PHPUnit
GenericName[fi]=PHPUnit-integraatio
GenericName[ga]=Comhtháthú PHPUnit
GenericName[gl]=Integración con PHPUnit
GenericName[hu]=PHPUnit integráció
GenericName[lt]=PHPUnit integracija
GenericName[nb]=PHPUnit-integrering
GenericName[nl]=Integratie van PHPUnit
GenericName[pt]=Integração com o PHPUnit
GenericName[pt_BR]=Integração com o PHPUnit
GenericName[sv]=Integrering av PHPUnit
GenericName[uk]=Інтеграція PHPUnit
GenericName[x-test]=xxPHPUnit Integrationxx
Icon=php
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevphpunitprovider
X-KDE-PluginInfo-Name=kdevphpunitprovider
X-KDE-PluginInfo-Author=Miha Čančula
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Testing
X-KDevelop-Version=16
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.ITestProvider
X-KDevelop-Mode=NoGUI
